body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #04151F;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Make the background fixed for the parallax effect */
    margin-top: 0;
}

.navbar {
    overflow: hidden;
    background-color: #0b3142a9 ; /* Add a semi-transparent background for better readability */
    position: fixed;
    width: 10%;
    max-width: 70px;
    min-width: 60px; /* Set the initial width for the sidebar on PC */
    height: 96.5%;
    vertical-align: middle;
    transition: 0.5s;
    z-index: 1;
    border-radius: 0px 50px 50px 0;
    padding-top: 40px;
    align-items: left;
    
}

.navbar img {
    display: block;
    margin: 10px auto; /* Adjust as needed */
    padding-top: 25px;
    padding-bottom: 5px;
    height: 25px;
}

.navbar a {
    float: left;
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-decoration: none;
    width: 100%; /* Make the links take up the full width of the sidebar */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    vertical-align: middle;
    text-align: left;
}

.navbar a span {
    display: none; /* Initially hide the span (full name) */
    padding-left: 0px; /* Add some spacing */
    padding: 5px;
}

.main-content {
    margin-left: 70px; /* Set the initial margin for the main content on PC */
    padding: 16px;
    transition: margin-left 0.5s;
    color: #fff; /* Set text color for better readability */

}

@media screen and (max-width: 600px) {
    .navbar a span {
        display: inline-block; /* Display the span (full name) on mobile and PC */
    }

    .navbar.expanded {
        width: 200px; /* Set the expanded width for the sidebar on mobile */
        max-width: 200px;
    }

    .main-content {
        margin-left: 60px; 
    }
    
}

@media screen and (min-width: 601px) {
    .navbar a span {
        display: inline-block; 
    }

    .navbar:hover, .navbar.expanded {
        width: 200px; 
        max-width: 200px;
    }

    .main-content {
        margin-left: 200px;
        
    }
}
.title{
    padding: 0;
    width: 100%;
    text-align: center;
    margin: 10px;
}
.title-bar{
    width: 90%;
    background-color: #FFFFFC;
    margin-top: 0;
    border-radius: 20px;
    display: flex;
    padding: 0;
    color: #242F40;
}
.full-page{
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    
}