body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 50px; /* Set the initial width for the sidebar on PC and mobile */
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

.navbar img {
    display: block;
    margin: 10px auto; /* Adjust as needed */
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    width: 100%; /* Make the links take up the full width of the sidebar */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.navbar a span {
    display: none; /* Initially hide the span (full name) */
}

.main-content {
    margin-left: 50px; /* Set the initial margin for the main content on PC and mobile */
    padding: 16px;
    transition: margin-left 0.5s;
}

.navbar-toggle-btn {
    display: none; /* Hide the button on PC and mobile */
}

@media screen and (max-width: 600px) {
    .navbar a span {
        display: inline-block; /* Display the span (full name) on mobile */
        padding-left: 10px; /* Add some spacing */
    }

    .navbar img {
        display: none; /* Hide the logos on mobile when expanded */
    }

    .navbar:hover {
        width: 200px; /* Set the expanded width for the sidebar on mobile */
    }

    .navbar-toggle-btn {
        display: block; /* Display the button on mobile */
        position: fixed;
        top: 10px;
        left: 10px;
        background-color: #333;
        color: #f2f2f2;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
}