body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: bisque;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Make the background fixed for the parallax effect */
}

.navbar {
    overflow: hidden;
    background-color: rgba(252, 9, 9, 0.753); /* Add a semi-transparent background for better readability */
    position: fixed;
    width: 10%;
    max-width: 70px;
    min-width: 50px; /* Set the initial width for the sidebar on PC */
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    border-radius: 0 50px 50px 0;
    padding-top: 20px;

}

.navbar img {
    display: block;
    margin: 10px auto; /* Adjust as needed */
}

.navbar a {
    float: left;
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-decoration: none;
    width: 100%; /* Make the links take up the full width of the sidebar */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.navbar a span {
    display: none; /* Initially hide the span (full name) */
    padding-left: 20px; /* Add some spacing */
    padding: 10px;
    border: 2px solid;
}

.main-content {
    margin-left: 65px; /* Set the initial margin for the main content on PC */
    padding: 16px;
    transition: margin-left 0.5s;
    color: #fff; /* Set text color for better readability */

}

@media screen and (max-width: 600px) {
    .navbar a span {
        display: inline-block; /* Display the span (full name) on mobile and PC */
    }

    .navbar.expanded {
        width: 230px; /* Set the expanded width for the sidebar on mobile */
        max-width: 150px;

    }

    .main-content {
        margin-left: 60px; /* Set the margin for the main content on mobile */
    }
}

@media screen and (min-width: 601px) {
    .navbar a span {
        display: inline-block; /* Display the span (full name) on hover for PC */
    }

    .navbar:hover, .navbar.expanded {
        width: 200px; /* Set the expanded width for the sidebar on PC */
        max-width: 200px;
    }

    .main-content {
        margin-left: 200px; /* Set the margin for the main content on PC */
        
    }
}